<div id="fullpage">

  <% 5.times do %>

    <div class="section">

      <div class="cs-box cs-first-box">

        <div class="cs-word cs-first-word">
          <%= @phrase.first_word %>
        </div>

      </div>

      <div class="cs-box cs-last-box">

        <div class="cs-word cs-last-word">
          <%= @phrase.last_word %>
        </div>

      </div>

    </div>

  <% end %>

</div>
