<%= content_for(:image_url) { params["phrase"] } %>

<script>
  <%
    phrase_bank = Phrase.all.map {
      |phrase| "#{phrase.first_word}-#{phrase.last_word}"
    }

    phrase_index = 1 + phrase_bank.index(params["phrase"])
  %>

  startIndex = <%= phrase_index %>;
</script>

<%= render partial: "layouts/slides" %>

<div class="cs-prev cs-text-primary cs-zero-opacity">
   <a href="#" onclick="prevButtonClick(); return false;">prev</a>
</div>

<div class="cs-prev cs-text-inverse cs-zero-opacity">
   <a href="#" onclick="prevButtonClick(); return false;">prev</a>
</div>

<div class="cs-next cs-text-primary cs-zero-opacity">
   <a href="#" onclick="nextButtonClick(); return false;">next</a>
</div>

<div class="cs-next cs-text-inverse cs-zero-opacity">
   <a href="#" onclick="nextButtonClick(); return false;">next</a>
</div>
